@font-face {
  font-family: "iconfont"; /* Project id 3765269 */
  src: url('iconfont.woff2?t=1668331248504') format('woff2'),
       url('iconfont.woff?t=1668331248504') format('woff'),
       url('iconfont.ttf?t=1668331248504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou-cu:before {
  content: "\e608";
}

.icon-zuojiantou-cu:before {
  content: "\e609";
}

.icon-u36:before {
  content: "\e601";
}

.icon-zhengfangti-xianxing:before {
  content: "\ea5a";
}

